html {
    font: 12px/1.3 'Source Code Pro', monospace;
    color: #eee; background-color: #000;
}

.line {
    display: -webkit-box; -webkit-box-orient: horizontal;
}

.time {
    display: block;
    margin-right: 0.5em;
    color: #888;
}

.sender {
    display: block;
    margin-right: 0.5em;
}

.message {
    display: block; -webkit-box-flex: 1;
}

.url {
    color: #ADD8E6;
    white-space: nowrap;
}

.highlight {
    font-weight: bold;
    color: #000; background-color: #ff8c00;
}

.place {
    display: block;
    margin-right: 0.5em;
    color: #3387bc;
}

.sender[type=normal]                   { color: #3e87e3; }
.sender[type=normal][colornumber="0"]  { color: #f7ba00; }
.sender[type=normal][colornumber="1"]  { color: #d2691e; }
.sender[type=normal][colornumber="2"]  { color: #ef4e6e; }
.sender[type=normal][colornumber="3"]  { color: #7fffd4; }
.sender[type=normal][colornumber="4"]  { color: #a0740a; }
.sender[type=normal][colornumber="5"]  { color: #9932cc; }
.sender[type=normal][colornumber="6"]  { color: #008b46; }
.sender[type=normal][colornumber="7"]  { color: #ff1493; }
.sender[type=normal][colornumber="8"]  { color: #1e90ff; }
.sender[type=normal][colornumber="9"]  { color: #ffd700; }
.sender[type=normal][colornumber="10"] { color: #cd5c5c; }
.sender[type=normal][colornumber="11"] { color: #add8e6; }
.sender[type=normal][colornumber="12"] { color: #90ee90; }
.sender[type=normal][colornumber="13"] { color: #ffffe0; }
.sender[type=normal][colornumber="14"] { color: #ffa500; }
.sender[type=normal][colornumber="15"] { color: #d9bfbf; }
.sender[type=myself]                   { color: #bd0000; }

.message[type=notice] { color: #888; }
.message[type=action] { color: #3e87e3; }

.message[type=system],
.message[type=join],
.message[type=kick],
.message[type=quit],
.message[type=kill],
.message[type=nick],
.message[type=mode],
.message[type=topic],
.message[type=invite],
.message[type=wallops],
.message[type=part] {
    color: #848484;
}

.message[type=reply] {
    color: #538cc6;
}

.message[type=error],
.message[type=error_reply] {
    color: #f67b37;
}
.message[type=dcc_send_send] {
    color: #c5af75;
}
.message[type=dcc_send_receive] {
    color: #f9ee98;
}
.message[type=debug_send] {
    color: #8996a8;
}
.message[type=debug_receive] {
    color: #afc4db;
}
